/* App.css */

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('/public/blue.jpj.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Arial, sans-serif;
}
