/* Login.css */

#login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.85); /* Slightly transparent */
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

#login-form h2 {
  color: #007BFF;
  font-size: 2em;
  margin-bottom: 20px;
}

#login-form input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

#login-form button {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#login-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#login-form button a {
  color: white;
  text-decoration: none;
}

#login-form button a:hover {
  color: white; /* Ensure link color doesn't change on hover */
}

#error-message {
  color: red;
  margin-top: 10px;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
